#title{ 
     font-family: 'Segoe UI', Roboto, sans-serif; 
     color:#4a7c68;
} 

button {
  width: 125px;
  background-color: #588b76;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.1s ease;
}

button[type="submit"]:hover {
  background-color: #4a7c68;
} 

.button_group{ 
    width:  260px;
    display: flex;
    justify-content: space-between;
}

.task_bar{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}